.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: rgb(30, 30, 30);
}

.logo {
    object-fit: cover;
    height: 2rem;
    width: 6rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: #dfe4ea;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #dfe4ea;
}

.desktopMenuBtn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    border-radius: 2rem;
    font-weight: bold;
}

.desktopMenuImage {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 1rem;
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}

.active {
    color: #dfe4ea;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #dfe4ea;
}

@media screen and (max-width: 720px) {
    .mobMenu {
        display: flex;
    }

    .desktopMenu {
        display: none;
    }

    .desktopMenuBtn {
        display: none;
    }
    
}